@charset "UTF-8";
#mainphoto{
	text-align:center;
}
#mainphoto img{
	width:800px;
	height:600px;
	margin:0;
	border:2px solid #fff;
}
#miniphoto ul{
	list-style-type:none;
}
#miniphoto ul li{
	float:left;
	padding:0;
	margin-left:10px;
	border:2px solid #fff;
}
body{
	background-color:#cef6f5;
}