@charset "UTF-8";

:root{
	--test-color:#999;
	--box01-color:cyan;
	--box02-color:yellow;
	--box03-color:pink;
}

.sec01{
		display:flex;
}

div{
	box-sizing:border-box;
	rext-align:center;
	
}

.box01{
	flex:1;
	background-color:var(--box01-color);
	border:1px solid var(--test-color);
}

.box02{
	flex:2;
	background-color:var(--box02-color);
	border:1px solid var(--test-color);
}

.box03{
	flex:3;
	background-color:var(--box03-color);
	border:1px solid var(--test-color);
}
